.signup_container {
  /* background: url(https://plus.unsplash.com/premium_photo-1701760184917-38e25718ee3e?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center fixed; */
  /* background-color: #eff2f3; */
  width: 100%;
  /* height: 100vh; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.signup_container .container {
  width: 40%;
  margin: auto;
  padding: 48px;
  border-radius: 16px;
  /* box-shadow: 1px 1px 5px #ced4da; */
  /* background-color: rgba(255, 255, 255); */
}

.signup_container .container h3 {
  /* text-align: center; */
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 24px;
}

.signup_form .signup_username input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #fff;
}

.signup_form .signup_email input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #fff;
}

.signup_form .signup_phonenumber input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #fff;
}

.signup_form .signup_dob input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #fff;
}

.signup_form .signup_address input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #fff;
}

.signup_form .btn_signup {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  transition: all 300ms linear 0s;
  color: #999999;
  background-color: #f9f9f9;
  text-align: center;
}

.signup_form .btn_signup:hover {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: teal;
  color: #fff;
  transition: all 300ms linear 0s;
}

.table_container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.btn_delete {
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

.btn_delete:hover {
  background-color: #c82333;
}